* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}

.calculator {
  width: 330px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
  text-align: center;
}

.calculator h1 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 1px;
}

#display {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  font-size: 28px;
  text-align: right;
  padding-right: 10px;
  border-radius: 12px;
  background: rgba(0,0,0,0.3);
  color: #00eaff;
  box-shadow: inset 0 0 10px rgba(0,255,255,0.4);
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: rgba(255,255,255,0.2);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.btn:hover {
  background: rgba(255,255,255,0.35);
  transform: scale(1.08);
}

.equal {
  background: #00eaff;
  color: #000;
  grid-row: span 2;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 15px #00eaff;
}

.equal:hover {
  background: #00ffff;
}

.zero {
  grid-column: span 2;
}
