* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.container {
    width: 380px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

#addBtn {
    margin-left: 10px;
    padding: 12px 18px;
    border: none;
    background: #4e54c8;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#addBtn:hover {
    background: #3e41a6;
}

#taskList li {
    list-style: none;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    padding: 12px;
    border-radius: 8px;
    border-left: 5px solid #4e54c8;
}

.completed span {
    text-decoration: line-through;
    color: #999;
}

.buttons button {
    margin-left: 6px;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.complete {
    background: #28a745;
    color: white;
}

.edit {
    background: #ffc107;
    color: black;
}

.delete {
    background: #dc3545;
    color: white;
}
